* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Mona Sans", "Mona Sans Header Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.a1 {

    margin-top: 25px;

    display: flex;
    justify-content: center;

}

.a1 h1 {
    font-size: 3.5rem;

    margin-top: 35px;
}

.a2 {

    margin-top: 35px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 1rem;
    color: rgb(85, 85, 85);

}

.a3 {
    display: flex;
    height: 45px;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    margin-top: 105px;
    font-family: serif;
}

.a31 {
    width: 150px;
    height: 45px;
}

.a31 h3 {
    display: flex;
    justify-content: center;
}

.a31 p {
    display: flex;
    justify-content: center;

}

.a4 {
    display: flex;
    justify-content: center;

}

.a41 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 70px;
    height: 55px;
    font-weight: bold;
    background-color: whitesmoke;
    width: 250px;
    border: 1px solid black;
    border-radius: 7.5px;

}


.a6 {
    display: flex;
    width: 95%;
    justify-content: space-between;
    margin: auto;
    margin-top: 100px;
}


.a61 {
    height: 250px;
    display: flex;
    width: 325px;
    background-color: whitesmoke;
    border: 0.5px solid grey;
    border-radius: 8px;
}

.a61 h2 {
    margin: 15px 0px 0px 20px;
}

.a61 p {
    margin: 15px 0px 0px 20px;

    font-weight: 560;

}


.a610 button {
    width: 80px;
    height: 35px;
    margin: 0px 0px 0px 220px;
    margin-top: 15px;
    background-color: white;
    border: 0.7px solid black;
    border-radius: 5px;
    font-weight: 620;
}

.a610 button:hover {
    background-color: rgb(19, 19, 19);
    color: white;
}

.a610 p:hover {

    color: rgb(56, 56, 252);
}

.a7 {
    height: 600px;
    width: 90%;
    margin: auto;
    display: flex;
    margin-bottom: 150px;

    /* justify-content: space-evenly;*/
}

.a71 {
    /* margin-left: 170px;*/
    width: 35%;
    margin-top: 100px;
}

.a70 {
    width: 65%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-left: 25px;
}

.a71 h1 {
    margin-top: 145px;

    margin-left: 130px;
    font-size: 3rem;
    font-family: Georgia, serif;
}

.a710 {
    margin-left: 130px;
    font-weight: bold;
    font-size: 1rem;
}

.a711 {
    margin-top: 7px;
    margin-right: 30px;
    color: gray;
    margin-left: 130px;
    font-size: 0.8rem;
}

.a72 {
    margin-left: 20px;
    margin-right: 50px;
    width: 250px;
    margin-top: 145px;
}

.a72 a {
    text-decoration: none;
    color: dimgray;
}

.a720 :hover {
    color: rgb(64, 64, 253);
}

.a73 {
    margin-left: 20px;
    margin-right: 50px;
    width: 250px;
    margin-top: 145px;
}

.a74 {
    margin-left: 20px;
    margin-right: 50px;
    width: 250px;
    margin-top: 145px;
}

.a75 {
    margin-left: 20px;
    margin-right: 50px;
    width: 250px;
    margin-top: 145px;
}

.a8 {
    height: 450px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;

}

.a81 {
    border: 0.5px solid gray;
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    border-radius: 15px;

}

.a82 {
    width: 40%;

    border: 0.5px solid gray;
    border-radius: 15px;
}

.a811 {
    background-image: url(owner.jpeg);
    background-size: cover;
    border-radius: 50%;
    width: 30%;
    height: 140px;
    width: 140px;
    margin: 90px 15px auto 10px;

}

.a811 h3 {
    font-family: cursive;
    margin-left: 15px;
    margin-top: 150px;
}

.a812 {

    width: 70%;
    width: 300px;
    margin: 55px 15px auto 0px;

}

.a812 p {
    font-size: 0.75rem;
    font-weight: bold;

    /* color: rgb(43, 43, 43);*/
}

.a812 h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.a821 h2 {
    margin-top: 45px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.a822 {
    margin-left: 25px;
    margin-top: 25px;
    font-size: 0.8rem;
    font-weight: 700;


}

.a822 li {
    color: rgb(43, 43, 43);
    font-size: 1rem;
    font-weight: bold;
}

.a9 {

    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    height: 50px;
    background-color: whitesmoke;
}

.a91 {
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.a910 {
    margin-left: 5px;
    font-size: 0.8rem;
}

.a92 {
    width: 15%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

@media screen and (max-width:1386px) {
    .a6 {
        width: 90%;
        margin: auto;
        flex-direction: column;
        margin-top: 25px;

    }

    .a61 {
        width: 900px;
        margin-top: 25px;

    }

    .a610 button {
        margin-top: 50px;

    }


}

@media screen and (max-width: 1244px) {

    .a8 {
        height: 500px;
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 1061px) {

    .a8 {

        font-size: 0.75rem;
    }
}

@media screen and (max-width:999px) {
    .a81 {
        font-size: 0.45rem;
        font-weight: bold;
    }

}

@media screen and (max-width:993px) {
    .a811 {
        height: 100px;
        width: 100px;
    }

    .a811 h3 {
        margin-top: 100px;
        font-size: 0.75rem;
    }

    .a812 h2 {
        font-size: 1.1rem;
    }
}

@media screen and (max-width:947px) {
    .a61 {
        width: 100%;

        display: flex;
        justify-content: center;

    }

    .a71 h1 {
        margin-left: 20px;
    }

    .a710 {
        margin-left: 20px;
    }

    .a711 {
        margin-left: 20px;
    }

    .a2 {
        width: 90%;
        margin: auto;
        margin-top: 25px;
    }




}

@media screen and (max-width: 1194) {

    .a71 h1 {
        margin-left: 50px;
    }
}

@media screen and (max-width: 735px) {

    .a7 {
        flex-direction: column;
        margin: none;
    }

    .a71 {
        width: 80%;
        margin: auto;
    }

    .a70 {
        width: 80%;
        margin: auto;
    }

}

@media screen and (max-width: 560px) {
    .a1 {
        width: 90%;
        margin: auto;
    }

    .a3 {
        width: 100%;
    }
    .a7{
        width: 90%;
        margin: auto;
        
    }
}